.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-weight: 400;
    font-size: 18px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
    text-transform: lowercase;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    height: 100%;
}

.address {
    font-size: 18px;
    line-height: 24.3px;
    width: 240px;
}

.header__address {
    justify-self: end;
}

.header__address-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    white-space: nowrap;
}

.cover {
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 106px;
    min-height: 757px;
    padding: 0 50px 50px 50px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    z-index: -1;
    inset: 0 0 0 0;
    background-color: #000;
    opacity: 0.6;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
}

.aligned__text_center {
    align-self: center;
    margin-right: -0.3em; /* Компенсация лишнего отступа у последней буквы */
}

.aligned__text_right {
    align-self: end;
    margin-right: -0.3em; /* Компенсация лишнего отступа у последней буквы */
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 0.8em;
}

.cover__description-text_end {
    word-spacing: 0.9em;
}

.bet-button {
    color: #fff;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
}

.lots {
    padding: 0 24px;
    margin-bottom: 120px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    min-height: 596px;
}

.card {
    position: relative;
    padding: 48px 40px;
    height: 100%;
    display: flex;
    z-index: -2;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.card__text {
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.2em;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.about {
    display: grid;
    padding: 35px 24px 0 24px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px 25px;
    justify-items: center;
    align-items: center;
    margin-bottom: 180px;
}

.about__logo {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 240px;
    width: 240px;
    background-color: #000;
    border-radius: 100%;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    justify-self: start;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3px 50px;
    margin-bottom: 82px;
}

.footer__menu {
    justify-self: center;
    align-self: start;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-link {
    font-size: 18px;
    text-transform: lowercase;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
    height: 48px;
    width: 48px;
}
